@page "/checking/{id:int}"
@inject IProjectServiceClient ProjectService
@inject ICheckingServiceClient CheckingService
@inject NavigationManager NavigationManager

@if (checkingList.Where(x => x.IsError).Count() > 0)
{
    @foreach (var item in checkingList.Where(x => x.IsError).GroupBy(x => x.CheckItem?.Category))
    {
        <h4>@item.Key (@item.Count()) errors found</h4>
        <table class="table table-sm">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Priority</th>
                    <th>IsError</th>
                    <th>IsCorrected</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var checkItem in item)
                {
                    <tr class="@StyleForRow_IsCorrected(@checkItem.IsFixed)">
                        <td>@checkItem.CheckItem?.Title</td>
                        <td>@checkItem.CheckItem?.Priority</td>
                        <td>@checkItem.IsError</td>
                        <td>@checkItem.IsFixed</td>
                        <td><button class="btn btn-primary" @onclick="(() => GoToCheckingDetails(checkItem.CheckingId))"><span class="oi oi-chevron-right"></span></button></td>
                    </tr>
                }
            </tbody>
        </table>
    }
}
else
{
    <h4>No errors found.</h4>
    <button class="btn btn-success"@onclick="(() => GoToNewChecking(Id))">Start Checking</button>
}





@code {
    [Parameter]
    public int Id { get; set; }

    List<Checking> checkingList = new();

    protected async override Task OnParametersSetAsync()
    {
        await CheckingService.GetAllCheckingsByProject(Id);
        checkingList = CheckingService.CheckingList;
    }

    void GoToCheckingDetails(int id)
    {
        NavigationManager.NavigateTo($"/checking/{id}/details");
    }

    void GoToNewChecking(int id)
    {
        NavigationManager.NavigateTo($"/checking/new/{id}");
    }

    private string StyleForRow_IsCorrected(bool val)
    {
        if (val == true) return "table-info";
        if (val != true) return "table-danger";
        return "table";
    }
}