@page "/projects"
@inject IProjectServiceClient ProjectService
@inject NavigationManager NavigationManager

<div style="display: flex; justify-content:space-between">
    <h3>Projects</h3>
    <button class="btn btn-primary" @onclick="(() => NewProject())"><span class="oi oi-plus"></span></button>
</div>

@if (ProjectService.Projects.Count > 0)
{
    <table class="table table-sm" style="table-layout: fixed; word-wrap: break-word">
        <thead>
            <tr>
                <th></th>
                <th>(id) Project</th>
                <th>Checking Priority</th>
                <th>Errors / Fixed / NA</th>
                <th>Correct</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var project in ProjectService.Projects)
            {
                <tr>
                    <td><button class="btn btn-primary" @onclick="(() => EditProject(project.ProjectId))"><span class="oi oi-pencil"></span></button></td>
                    <td>(@project.ProjectId) @project.Number @project.Name</td>
                    <td>@project.CheckingPriority</td>
                    <td>@project.Checking.Where(x => x.IsError).Count() / @project.Checking.Where(x => x.IsFixed).Count() / @project.Checking.Where(x => x.IsNA).Count()</td>
                    <td>@project.Checking.Where(x => x.IsError == false && x.IsFixed == false && x.IsNA == false).Count()</td>
                    <td><button class="btn btn-success" @onclick="(() => GoToChecking(project.ProjectId))">Open Checking</button></td>
                    <td><button class="btn btn-primary" @onclick="(() => GoToCheckingNew(project.ProjectId))">Add Checking</button></td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <h3 class="text-center">Add first project.</h3>
}



@code {
    protected override async Task OnInitializedAsync()
    {
        await ProjectService.GetProjects();
    }

    void EditProject(int id)
    {
        NavigationManager.NavigateTo($"/project/{id}");
    }

    void NewProject()
    {
        NavigationManager.NavigateTo("/new-project");
    }

    void GoToChecking(int id)
    {
        NavigationManager.NavigateTo($"/checking/{id}");
    }

    void GoToCheckingNew(int id)
    {
        NavigationManager.NavigateTo($"/checking/new/{id}");
    }
}
